@charset "utf-8";
/* CSS Document */

#divcaro{width:1100px; height:400px;background-color:#309; float:left}
#divcaro1{width:1100px; height:360px;background-color:#0FF; float:right}
#divcaro2{width:1100px; height:360px;background-color:#60F; float:right}

